[run]
branch = True
data_file = .coverage
source=
    blockstore
omit =
    blockstore/settings*
    blockstore/conf*
    *wsgi.py
    *migrations*
    *admin.py
    *static*
    *templates*

[report]
exclude_lines =
    raise NotImplementedError()
    yield None
