# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

boto3<2.0

# Not yet using Django 3.X. Using the 2.X LTS to mirror the LMS.
django>2.2,<2.3

django-cors-headers>=2.2.0,<2.3

django-environ==0.4.5

django-filter==2.1.0

mysqlclient==1.3.14

pip-tools<6.0

# We want >=3.3.2 to fix a moderate-severity security issue
# reported here: https://github.com/pyca/cryptography/issues/5615.
# However, we want <3.4 because the usage of Rust in cryptography>=3.4
# causes the package to fail to install on the Alpine Linux image used for CI.
# When someone has the time to switch that image to Ubuntu, then we can probably
# remove this pin (as far as I can tell, there is no production reason not to
# upgrade to the latest version of this package).
cryptography>=3.3.2,<3.4
