# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# We are creating a local copy of the common constraints file and override/remove the global constraint which we don't need.
# This approach is used temporarily and will be improved in https://openedx.atlassian.net/browse/BOM-2721
# This file contains all common constraints for edx-repos
-c common_constraints.txt

boto3<2.0

django>3.2,<3.3

# django-dynamic-fixture>=4.0.0 removes Django 3 compatibility. The newer version does not break any tests, but we
# should not use an incompatible release.
# Changelog entry: https://django-dynamic-fixture.readthedocs.io/en/latest/change_log.html#version-4-0-0-2023-08-26
django-dynamic-fixture<4.0.0

# `botocore` still requires `urllib3>=1.25.4,<1.27`: https://github.com/boto/botocore/issues/2926
# `edx-platform` also pins `urllib3<2.0.0`: https://github.com/openedx/edx-platform/issues/32222
urllib3<2.0.0
