{# Template to display a hierarchical list of tags on the admin page #}
{% load i18n %}

{% for tag in taglist %}
    <li>
        {{ tag.name }}
        <a href="/admin/tagstore/tag/add/?taxonomy={{ taxonomy_id }}&parent={{ tag.name }}"
            class="addlink" alt="{% trans "Add" %}"></a>&nbsp;
        {# <a href="tag/{{ tag.id }}/change/" class="changelink"></a>&nbsp; #}
        <a href="/admin/tagstore/tag/{{ tag.pk }}/delete/" alt="{% trans "Delete" %}"
            class="deletelink"></a>

        {% if tag.children|length %}
            <ul>
              {% include "admin/tagstore/list_item.html" with taglist=tag.children taxonomy_id=taxonomy_id %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
